 <br>
 <br>
 <div>
 	 <h3>Create a new customer</h3>
 </div>
 <div>
 	 <form name="signupForm" ng-submit="createCustomer()" style="margin-top:30px;" novalidate>

      <div class="form-group">
        <label> Address</label>
        <input type="text" class="form-control" placeholder="Address" ng-model="address">
        <input type="text" class="form-control" placeholder="First Name" ng-model="firstname">
        <input type="text" class="form-control" placeholder="Last Name" ng-model="lastname">
        <div>
                <input type="email" name="email" class="form-control" placeholder="Email" ng-model="email"  />
                <span ng-show="signupForm.email.$pending.uniquemail">Checking if this name is available...</span>
        	
        </div>

        <div>
          <label>
           <input type="text" class="form-control" placeholder="School Optional" ng-model="school">	
          </label>
        	
        </div>

      </div>
      <button type="submit" class="btn btn-primary" ng-disbaled="signupForm.$invalid">Create</button>
    </form>
 </div>