 <br>
 <br>
 <div>
 	 <h3>Create a new customer</h3>
 </div>
 <div>
 	 <form name="signupForm" ng-submit="createCustomer()" style="margin-top:30px;" novalidate>

      <div class="form-group">
        <label> Address</label>
        <input type="text" class="form-control" placeholder="Address" ng-model="address">
        <label> First Name </label>
        <input type="text" class="form-control" placeholder="First Name" ng-model="firstname">
        <label> Last Name </label>
        <input type="text" class="form-control" placeholder="Last Name" ng-model="lastname">

        <div>
                <label> Email </label>
                <input type="email" name="userEmail" class="form-control" placeholder="Email" ng-model="email"
                is-unique-email
                ng-model-options="{updateOn: 'blur'}" />
                 <span class="field-validity-error" 
                 ng-show="signupForm.userEmail.$error.isUniqueEmail"> This email address already exists</span>


                
        	
        </div>

        <div>
          <label>
           <input type="text" class="form-control" placeholder="School Optional" ng-model="school">	
          </label>
        	
        </div>

      </div>
      <button type="submit" class="btn btn-primary" ng-disbaled="signupForm.$invalid">Create</button>
    </form>
 </div>